<p class="fright">The band Birch Riley consists of 4 hard working and innovative guys driven to make fresh music and put on an awesome live show. Original progressive themes with solid changes and edgy flavor are the staples of Birch Riley's tunes.
</p>
<div class="taped_photos_odd">
	
	<a href="../images/bandl.jpg" rel="facebox" title="Birch Riley"><%= image_tag("band.png") %></a>
	
</div>

